/* HEADER */
.header {
  margin: 0 auto;
  max-width: 1440px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ulLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.linksHeader {
  font-family: 'Playfair Display';
  font-size: 20px;
  cursor: pointer;
}

.linksHeader:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.25rem;
}

.hamburgermenu {
  display: none;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 130px;
  cursor: pointer;
}

.iconContainer {
  display: flex;
}

/* MASTERHEADER */
.MasterHeader {
  margin: 0 auto;
  max-width: 1440px;
}

.MHbackground {
  position: relative;
  background-image: url(../candlespic.jpeg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 70px;
}

.MHtextContainer {
  position: absolute;
  left: 140px;
  top: 120px;
}

.titleMH {
  margin: 0;
  font-family: 'Playfair Display';
  font-size: 55px;
  font-weight: 200;
}

.underTitleMH {
  margin: auto;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
}

.shopLink {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 15px;
  bottom: 8px;
  right: 28px;
}

.shopAllLink {
  font-family: 'Poppins';
  cursor: pointer;
  font-weight: 300;
}

.shopAllLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.25rem;
}

/* PRODUCTS */
.productsBigContainer {
  margin: 0 auto;
  max-width: 1440px;
}

.productsContainerTitle {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display';
  font-size: 30px;
  font-weight: 300;
}

.productsContainer {
  margin-left: 120px;
  margin-right: 120px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 70px;
}

.productImg {
  width: 200px;
  margin-bottom: 15px;
}

.productTitle {
  font-family: 'Poppins';
  font-weight: 300;
  margin: 0;
}

.price {
  font-family: 'Poppins';
  font-weight: 200;
}

.addBtn {
  border: none;
  width: 120px;
  padding: 7px;
  background-color: #b1b6a7;
  font-family: 'Poppins';
  font-weight: 300;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #8c8e82;
}

.product1-2 {
  display: flex;
  gap: 60px;
}

.product3-4 {
  display: flex;
  gap: 60px;
}

.product1,
.product2,
.product3,
.product4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopLinkproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 15px;
  bottom: 8px;
  right: 28px;
}

/* ABOUT */
.aboutBigContainer {
  margin: 0 auto;
  max-width: 1440px;
}

.aboutContainer {
  margin: 0 auto;
  max-width: 1440px;
  background-color: white;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.aboutTitle {
  font-family: 'Playfair Display';
  font-size: 50px;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aboutText {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 200;
}

/* PICTURE AND QUOTE */
.pictureAndQuoteBigContainer {
  margin: 0 auto;
  max-width: 1440px;
}

.pictureAndQuoteContainer {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
}

.picture {
  display: flex;
  flex-grow: 1;
  height: 550px;
  width: 100%;
  background-image: url(../picture.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote {
  background-color: #8c8e82;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quoteText {
  width: 55%;
  font-family: 'Playfair Display';
  font-size: 25px;
  font-weight: 200;
}

/* CONTACT */
.contactBigContainer {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 50px;
}

.contactContainer {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactTitle {
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 200;
  margin: 0;
}

.contactText {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 200;
  width: 80%;
  text-align: center;
  margin-top: 25px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  width: 700px;
}

.nameAndEmailDiv {
  display: flex;
  width: 100%;
  gap: 40px;
}

label {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 300;
  flex-grow: 1;
}

input,
textarea {
  border-radius: 0px;
  border-width: 0.5px;
  border-color: black;
  font-family: 'Poppins';
  font-weight: 300;
  padding-left: 4px;
  padding-right: 4px;
}

input {
  height: 30px;
}

input:focus,
textarea:focus {
  outline: none;
}

.submitBtn {
  border: none;
  width: 80px;
  padding: 7px;
  background-color: #b1b6a7;
  font-family: 'Poppins';
  font-weight: 400;
  cursor: pointer;
  margin-top: 20px;
}

.submitBtn:hover {
  background-color: #8c8e82;
}

/* FOOTER */
.footerBigContainer {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 50px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.logoFooterContainer {
  display: flex;
  flex-direction: column;
}

.logoFooter {
  width: 200px;
  cursor: pointer;
}

.footerLinksContainer {
  display: flex;
  gap: 60px;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 300;
}

.footerLinksLeft p,
.footerLinksRight p {
  cursor: pointer;
}

.footerLinksLeft p:hover,
.footerLinksRight p:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.25rem;
}
