/* HEADER */
.header {
  margin: 0 auto;
  max-width: 1440px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ulLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.linksHeader {
  font-family: 'Playfair Display';
  font-size: 20px;
  cursor: pointer;
}

.linksHeader:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.25rem;
}

.hamburgermenu {
  display: none;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 130px;
  cursor: pointer;
}

.iconContainer {
  display: flex;
}

/* MASTERHEADER */
.MasterHeader {
  margin: 0 auto;
  max-width: 1440px;
}

.MHbackground {
  position: relative;
  background-image: url(./candlespic.jpeg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 120px;
  margin-right: 120px;
}

.MHtextContainer {
  position: absolute;
  left: 140px;
  top: 120px;
}

.titleMH {
  margin: 0;
  font-family: 'Playfair Display';
  font-size: 55px;
  font-weight: 200;
}

.underTitleMH {
  margin: auto;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
}

.shopLink {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 15px;
  bottom: 8px;
  right: 28px;
}

.shopAllLink {
  font-family: 'Poppins';
  cursor: pointer;
}

.shopAllLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.25rem;
}

/* PRODUCTS */
.products {
  margin: 0 auto;
  max-width: 1440px;
}

.productsContainer {
  margin-top: 70px;
}

.productsContainerTitle {
  display: flex;
  justify-content: center;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 300;
}
