@media (max-width: 640px) {
  /* HEADER */
  .ulLinks {
    display: none;
  }

  .hamburgermenu {
    display: block;
  }

  .logo {
    height: 110px;
  }

  /* MASTERHEADER */
  .MHbackground {
    height: 600px;
    background-position: 40% 60%;
  }

  .MHtextContainer {
    left: 70px;
    top: 100px;
  }

  .titleMH {
    font-size: 45px;
  }

  .underTitleMH {
    font-size: 13px;
  }

  .shopLink {
    bottom: 2px;
    right: 18px;
  }

  .shopAllLink {
    font-size: 14px;
  }

  /* PICTURE AND QUOTE */
  .picture {
    height: 350px;
  }

  .quoteText {
    width: 70%;
    font-size: 19px;
  }

  /* CONTACT */
  .contactContainer {
    margin-left: 70px;
    margin-right: 70px;
  }

  .formContainer {
    width: 350px;
  }

  /* FOOTER */
  .footerContainer {
    flex-direction: column-reverse;
    gap: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .logoFooterContainer {
    align-items: center;
  }
}
