/* HEADER */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ulLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.linksHeader {
  font-family: 'Playfair Display';
  font-size: 20px;
  cursor: pointer;
}

.hamburgermenu {
  display: none;
}

.logo {
  height: 130px;
  cursor: pointer;
}
